<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Just Blog</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="/"><img src="images/logo.jpg" alt="logo image here" class="d-inline-block align-text-top img_logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Just Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create </a>
          </li>
          <%if(loggedin){%>
          <li class="nav-item">
            <a class="nav-link" href="/userblogs">Your Blogs </a>
          </li>
          <% } %>
        </ul>
        <%if(!loggedin){%>
        <a class="nav-link" href="/login">SIGN IN</a>
        <% } else { %>
          <a class="nav-link" href="/logout">LOG OUT</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
<main class="container">


  

        
